body {
    margin: 0;
    font-size: 16px;
    background-color: lightblue ;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

.custom-box {
    max-width: 700px;
    background-color: white;
    margin: 40px auto;
    padding: 30px;
    border-radius: 15px;
}
.custom-box::before,
.custom-box::after {
    content: '';
    clear: both;
    display: table;
    
}
.custom-box.hide{
    display: none;
}

.box-1 h3{
    font-size: 18px;
    color:black;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 25px ;
}

.box-1 p{
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 22px;
    color: blue;
    font-weight: 400;
}

.box-1 p span {
font-weight: 500;
}

.box-1, .btn, .start-btn {
    margin-top: 20px;

}

.btn, .start-btn {
  padding: 15px 45px;
  background-color: chartreuse;
  color: blue;
  border: none;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  cursor: pointer; 
  display: inline-block;

}
.quiz-box .question-number,
.quiz-box .question-text,
.quiz-box .option-container,
.quiz-box .next-question-btn,
.quiz-box .answer-indicator{
    width:100% ;
    float: left;
}
.quiz-box .question-number{
    font-size: 18px;
    color: black;
    font-weight: 600;
    border: 1px solid #cccccc; 
    padding-bottom: 10px ;
    line-height: 25px;

}
.quiz-box .question-text{
    font-size: 22px;
    color:blue;
    line-height: 28px;
    font-weight: 400;
    padding: 20px 0;
    margin: 0;
}

.quiz-box .option-container .option{
    background-color:rgb(123, 162, 158);
    padding: 13px 15px;
    font-size: 16px;
    line-height: 22px;
    color: aqua;
    border-radius:5px;
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: capitalize;
     
}
.quiz-box, .btn, .start-btn{
    margin: 15px 0;

}
.quiz-box .answer-indicator{
    border-top: 1px solid rgb(123, 162, 158);
}
.quiz-box .answer-indicator div{
    height: 40px;
    width: 40px;
    display:inline-block;
    background-color: rgb(123, 162, 158);
    border-radius: 50%;
    margin-right: 3px;
    margin-top: 15px;
}

.result-box {
    text-align: center;
}
.result-box.hide {
    display: none;

}

.result-box h1{
    font-size: 36px;
    line-height: 42px;
    color: blue;
}
.result-box table{
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
}
.result-box table td{
    border:1px solid rgb(123, 162, 158);
    padding: 8px 15px;
    font-weight: 500;
    color: aqua;
    width: 50%;
    text-align: left;
    font-style: 18px;
}
.result-box, .btn, .start-btn{
    margin-right: 20px;

}
 
